html {
    font-family: Hiragino Sans GB;
}

pre {
    background-color: unset !important;

    code {
        font-family: Hiragino Sans GB;
        white-space: pre-line;

        .comment {
            color: oklch(0.5 0 0 / 0.5);
        }
    }
}
