:root {
    color-scheme: light dark;
    --gray-hard: oklch(0.5 0 0 / 0.2);
    --gray-soft: oklch(0.5 0 0 / 0.1);
}

@font-face {
    font-family: "En";
    src: local("Hiragino Mincho ProN W3");
    unicode-range: U+0020-007F;
    font-weight: 400;
}

@font-face {
    font-family: "En";
    src: local("Hiragino Mincho ProN W6");
    unicode-range: U+0020-007F;
    font-weight: 700;
}

html {
    font-size: 20px;
    color: light-dark(oklch(0.37 0 0), oklch(1 0 0));
    background-color: light-dark(oklch(1 0 0), oklch(0 0 0));
    font-family: "En", "Hiragino Sans GB";
}

body {
    margin: 0;
    padding: 60px 20px;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
    line-height: 2;
}

a {
    color: steelblue;
    text-decoration-line: unset;

    &:hover {
        text-decoration-thickness: from-font;
        text-underline-offset: 6px;
        text-decoration-line: underline;
    }
}

ul {
    padding-left: 22px;
    list-style: circle;
}

ol {
    padding-left: 30px;
}

li {
    margin: 10px 0;
}

table {
    font-size: 1em;
    margin: 20px 0;
    border: 1px solid light-dark(oklch(0.9 0 0), oklch(0.3 0 0));
    border-radius: 10px;
    border-spacing: 0px;
    overflow: hidden;
    min-width: max-content;

    thead {
        background-color: light-dark(oklch(0.96 0 0), oklch(0.2 0 0));
    }

    td,
    th {
        padding: 10px 20px;
        text-align: left;
    }
}

em {
    font-style: normal;
    color: indianred;
}

blockquote {
    margin: 20px 0;
    padding: 2px 8px;
    border-left: 6px solid light-dark(oklch(0.4 0 0), oklch(0.9 0 0));
    border-radius: 6px;
    background-color: light-dark(oklch(0.96 0 0), oklch(0.3 0 0));

    ol,
    ul {
        margin: 0;
    }
}

code:not([class]) {
    padding: 2px 6px;
    border-radius: 4px;
    background-color: light-dark(oklch(0.96 0 0), oklch(0.3 0 0));
    font-family: inherit;
    color: indianred;
}

pre {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--gray-hard);
    background-color: light-dark(oklch(0.98 0 0), oklch(0.24 0 0)) !important;
    overflow: scroll;

    code {
        font-family: "Courier New", "STSong";
        tab-size: 4;
    }
}

img {
    max-width: min(100%, 800px);
}
