pre:has(> code[class*="language-mermaid"]) {
    max-width: 800px;
}

/* svg diagram */
.sequence-diagram {
    marker {
        fill: light-dark(darkgray, dimgray);
    }

    text {
        fill: light-dark(oklch(0.37 0 0), oklch(0.8 0 0));
    }

    line {
        stroke: var(--gray-hard);
    }

    rect {
        fill: var(--gray-soft);
    }
}
