.search {
    display: flex;

    div {
        background-color: var(--gray-soft);
        border: 1px solid var(--gray-hard);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        display: flex;
        padding: 8px;
    }

    input {
        all: unset;
        border: 1px solid var(--gray-hard);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;
        padding: 8px;
        width: 100%;
    }
}

.tags {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;

    button {
        font-size: 1em;
        font-family: auto;
        color: inherit;
        padding: 4px 10px;
        background-color: var(--gray-soft);
        border-style: none;
        border-radius: 10px;
        touch-action: none;
        cursor: pointer;

        &:hover {
            background-color: var(--gray-hard);
        }
    }
}

.result {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        border-bottom: 1px solid var(--gray-hard);
    }
}

.shiki,
.shiki span {
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);

    @media (prefers-color-scheme: dark) {
        color: var(--shiki-dark) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
    }
}
