h1 {
    font-family: Hiragino Mincho ProN;
}

h3 {
    font-weight: normal;
    font-size: 1em;

    &::before {
        content: "✦";
    }
}

ol {
    padding-left: 42px;

    li::marker {
        font-family: "Courier New";
    }
}

pre code[class="language-example"] {
    white-space: pre-line;

    .comment {
        font-family: STSong;
        color: oklch(0.5 0 0 / 0.5);
    }
}

.alias {
    text-align: center;

    code {
        font-family: auto;
        font-size: 1em;
        color: inherit;
    }
}
