:root {
    --gray-hard: oklch(0.5 0 0 / 0.2);
    --gray-soft: oklch(0.5 0 0 / 0.1);

    @media (prefers-color-scheme: light) {
        --body-bg: oklch(0.99 0 0);
        --body-color: oklch(0.37 0 0);
        --code-bg: oklch(0.96 0 0);
        --code-border: oklch(0.9 0 0);
        --button-bg: oklch(0.98 0 0);
        --button-border: oklab(0.9 0 0);
        --tags-bg: oklch(0.96 0 0);
    }

    @media (prefers-color-scheme: dark) {
        --body-bg: oklch(0.26 0 0);
        --body-color: oklch(0.8 0 0);
        --code-bg: oklch(0.3 0 0);
        --code-border: oklch(0.4 0 0);
        --button-bg: oklch(0.24 0 0);
        --button-border: oklch(0.4 0 0);
        --tags-bg: oklch(0.3 0 0);
        .shiki,
        .shiki span {
            color: var(--shiki-dark) !important;
        }
    }

    .shiki,
    .shiki span {
        background-color: transparent !important;
    }
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    color: var(--body-color);
    background-color: var(--body-bg);
}

body {
    padding: 20px;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

h2 {
    margin: 20px 0;
}

h3 {
    margin: 20px 0;
    font-weight: normal;
    font-size: 1em;

    &::before {
        content: "#";
        border-radius: 4px;
        padding: 0px 6px;
        margin-right: 4px;
        background-color: var(--code-bg);
        font-family: monospace;
        color: darkgray;
    }
}

p {
    line-height: 2em;
}

a {
    color: steelblue;
    text-decoration-line: unset;

    &:hover {
        text-decoration-thickness: from-font;
        text-underline-offset: 6px;
        text-decoration-line: underline;
    }
}

ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: circle;

    li {
        margin: 10px 0;
    }
}

@counter-style circled-alpha {
    system: fixed;
    suffix: " ";
    symbols: ① ② ③ ④ ⑤;
}

ol {
    list-style: circled-alpha;
    margin-left: 25px;
}

table {
    margin: 20px 0;
    font-size: 1em;
    border: 1px solid var(--gray-hard);
    border-radius: 10px;
    border-spacing: 0px;
    overflow: hidden;

    thead {
        background-color: var(--gray-soft);
    }

    td,
    th {
        padding: 10px 20px;
    }
}

hr {
    border: 1px solid oklch(0.8 0 0 / 0.5);
}

em {
    font-style: normal;
    color: indianred;
}

img {
    max-width: min(100%, 800px);
}

blockquote {
    margin: 20px 0;
    padding: 2px 8px;
    border-left: 6px solid var(--gray-hard);
    border-radius: 6px;
    background-color: var(--gray-soft);
}

code:not([class]) {
    padding: 0 6px;
    border-radius: 8px;
    border: 1px solid var(--gray-hard);
    background-color: var(--gray-soft);
    font-size: 0.8em;
}

pre {
    margin: 20px 0;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--gray-hard);
    overflow: scroll;
}

pre code[class="language-example"] {
    font-family: auto;
    white-space: pre-line;

    .comment {
        color: oklch(0.5 0 0 / 0.5);
    }
}

pre code[class="language-comment"] {
    .comment {
        color: oklch(0.5 0 0 / 0.5);
    }
}

pre:has(> code[class*="language-mermaid"]) {
    max-width: 800px;
    background-color: unset;
    border: unset;
}

.alias {
    text-align: center;

    code {
        font-family: auto;
        font-size: 1em;
    }
}

/* index page */
.search {
    display: flex;

    div {
        background-color: var(--button-bg);
        border: 1px solid var(--button-border);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        display: flex;
        padding: 8px;
    }

    input {
        all: unset;
        border: 1px solid var(--button-border);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;
        padding: 8px;
        width: 100%;
    }
}

.tags {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;

    button {
        all: unset;
        padding: 4px 10px;
        background-color: var(--tags-bg);
        border-radius: 10px;
        touch-action: none;
        cursor: pointer;

        &:hover {
            background-color: oklch(0.75 0 0 / 0.3);
        }
    }
}

.result {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        border-bottom: 1px solid var(--button-border);
    }
}
