:root {
    color-scheme: light dark;
    --gray-hard: oklch(0.5 0 0 / 0.2);
    --gray-soft: oklch(0.5 0 0 / 0.1);
}

html {
    font-size: 20px;
    color: light-dark(oklch(0.37 0 0), oklch(0.8 0 0));
    background-color: light-dark(oklch(1 0 0), oklch(0.2 0 0));
}

body {
    margin: 0;
    padding: 60px 20px;
}

h1 {
    text-align: center;
}

h3 {
    font-weight: normal;
    font-size: 1em;

    &::before {
        content: "✦";
        margin-right: 4px;
    }
}

p {
    margin: 0;
    line-height: 2;
}

a {
    color: steelblue;
    text-decoration-line: unset;

    &:hover {
        text-decoration-thickness: from-font;
        text-underline-offset: 6px;
        text-decoration-line: underline;
    }
}

ul {
    padding-left: 20px;
    list-style-type: circle;
    li {
        margin: 10px 0;
    }
}

@counter-style circled-alpha {
    system: fixed;
    suffix: " ";
    symbols: ① ② ③ ④ ⑤;
}

ol {
    padding-left: 25px;
    list-style: circled-alpha;
    li {
        margin: 10px 0;
    }
}

table {
    font-size: 1em;
    margin: 20px 0;
    border: 1px solid var(--gray-hard);
    border-radius: 10px;
    border-spacing: 0px;
    overflow: hidden;

    thead {
        background-color: var(--gray-soft);
    }

    td,
    th {
        padding: 10px 20px;
    }
}

em {
    font-style: normal;
    color: indianred;
}

blockquote {
    margin: 20px 0;
    padding: 2px 8px;
    border-left: 6px solid var(--gray-hard);
    border-radius: 6px;
    background-color: var(--gray-soft);
}

code:not([class]) {
    padding: 0 6px;
    border-radius: 8px;
    border: 1px solid var(--gray-hard);
    background-color: var(--gray-soft);
    font-family: "Courier New";
}

pre {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--gray-hard);
    background-color: light-dark(oklch(0.98 0 0), oklch(0.24 0 0)) !important;
    overflow: scroll;

    code {
        font-family: "Courier New", "STSong";
    }
}

pre code[class="language-example"] {
    font-family: auto;
    white-space: pre-line;

    .comment {
        color: oklch(0.5 0 0 / 0.5);
    }
}

pre:has(> code[class*="language-mermaid"]) {
    max-width: 800px;
}

img {
    max-width: min(100%, 800px);
}

.alias {
    text-align: center;

    code {
        font-family: auto;
        font-size: 1em;
    }
}

/* index page */
.search {
    display: flex;

    div {
        background-color: var(--gray-soft);
        border: 1px solid var(--gray-hard);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        display: flex;
        padding: 8px;
    }

    input {
        all: unset;
        border: 1px solid var(--gray-hard);
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-left: none;
        padding: 8px;
        width: 100%;
    }
}

.tags {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;

    button {
        font-size: 1em;
        font-family: auto;
        color: inherit;
        padding: 4px 10px;
        background-color: var(--gray-soft);
        border-style: none;
        border-radius: 10px;
        touch-action: none;
        cursor: pointer;

        &:hover {
            background-color: var(--gray-hard);
        }
    }
}

.result {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    p {
        border-bottom: 1px solid var(--gray-hard);
    }
}

.shiki,
.shiki span {
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);

    @media (prefers-color-scheme: dark) {
        color: var(--shiki-dark) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
    }
}
